<ion-view title="Arrested">
  <ion-content class="has-header">
    <div class="item item-divider item-text-wrap">If you are arrested</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Do not resist arrest,</strong> even if you believe the arrest is unfair.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Say you wish to remain silent and ask for a lawyer immediately.</strong> Don't give any explanations or excuses. If you can't pay for a lawyer, you have the right to a free one. Don't say anything, sign anything or make any decisions without a lawyer.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>You have the right to make a local phone call.</strong> The police cannot listen if you call a lawyer.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Prepare yourself and your family in case you are arrested.</strong> Memorize the phone numbers of your family and your lawyer. Make emergency plans if you have children or take medication.
      </div>
    </div>
    <div class="item item-divider item-text-wrap">Special considerations for non-citizens</div>
    <div class="card">
      <div class="item item-assertive item-light-red item-text-wrap">
        Ask your lawyer about the effect of a criminal conviction or plea on your immigration status.
      </div>
    </div>
    <div class="card">
      <div class="item item-assertive item-light-red item-text-wrap">
        Don't discuss your immigration status with anyone but your lawyer.
      </div>
    </div>
    <div class="card">
      <div class="item item-assertive item-light-red item-text-wrap">
        While you are in jail, an immigration agent may visit you. Do not answer questions or sign anything before talking to a lawyer.
      </div>
    </div>
    <div class="card">
      <div class="item item-assertive item-light-red item-text-wrap">
        Read all papers fully. If you do not understand or cannot read the papers, tell the officer you need an interpreter.
      </div>
    </div>
    <div class="item item-divider">Source</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        Information taken from the American Civil Liberties Union
      </div>
      <div class="item item-divider">
        <a href="http://www.aclu.org/">http://www.aclu.org/</a>
      </div>
    </div>
  </ion-content>
</ion-view>
