<ion-view title="Driving">
  <ion-content class="has-header">
    <div class="item item-divider item-text-wrap">If you are stopped in your car</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Stop the car in a safe place as quickly as possible.</strong> Turn off the car, turn on the internal light, open the window part way and place your hands on the wheel.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        Upon request, <strong>show police your driver's license, registration and proof of insurance.</strong>
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>If an officer or immigration agent asks to look inside your car, you can refuse to consent to the search.</strong> But if police believe your car contains evidence of a crime, your car can be searched without your consent.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Both drivers and passengers have the right to remain silent.</strong> If you are a passenger, you can ask if you are free to leave. If the officer says yes, sit silently or calmly leave. Even if the officer says no, you have the right to remain silent.
      </div>
    </div>
    <div class="item item-divider">Source</div>
    <div class="card">
      <div class="item item-text-wrap">
        Information taken from the American Civil Liberties Union
      </div>
      <div class="item item-divider">
        <a href="http://www.aclu.org/">http://www.aclu.org/</a>
      </div>
    </div>
  </ion-content>
</ion-view>
