<ion-view title="Immigration Custody">
  <ion-content class="has-header">
    <div class="item item-divider item-text-wrap">If you are taken into immigration (or "ICE") custody</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>You have the right to a lawyer, but the government does not have to provide one for you.</strong> If you do not have a lawyer, ask for a list of free or low-cost legal services.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        You have the right to <strong>contact your consulate</strong> or have an officer inform the consulate of your arrest.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Tell the ICE agent you wish to remain silent.</strong> Do not discuss your immigration status with anyone but your lawyer.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Do not sign anything,</strong> such as a voluntary departure or stipulated removal, without talking to a lawyer. If you sign, you may be giving up your opportunity to try to stay in the U.S.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Remember your immigration number ("A" number) and give it to your family.</strong> It will help family members locate you.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Keep a copy of your immigration documents with someone you trust.</strong>
      </div>
    </div>
    <div class="item item-divider">Source</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        Information taken from the American Civil Liberties Union
      </div>
      <div class="item item-divider">
        <a href="http://www.aclu.org/">http://www.aclu.org/</a>
      </div>
    </div>
  </ion-content>
</ion-view>
