<ion-view title="General">
  <ion-content class="has-header">
    <div class="item item-divider">Rights</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        You have the right to remain silent. If you wish to exercise that right, say so out loud.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        You have the right to refuse to consent to a search of yourself, your car or your home.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        If you are not under arrest, you have the right to calmly leave.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        You have the right to a lawyer if you are arrested. Ask for one immediately.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        Regardless of your immigration or citizenship status, you have constitutional rights.
      </div>
    </div>
    <div class="item item-divider">Your Responsibilities</div>
    <div class="card">
      <div class="item item-balanced item-light-green item-text-wrap">
        Stay calm and be polite.
      </div>
    </div>
    <div class="card">
      <div class="item item-assertive item-light-red item-text-wrap">
        Do not interfere with or obstruct the police.
      </div>
    </div>
    <div class="card">
      <div class="item item-assertive item-light-red item-text-wrap">
        Do not lie or give false documents.
      </div>
    </div>
    <div class="card">
      <div class="item item-balanced item-light-green item-text-wrap">
        Prepare yourself and your family in case you are arrested.
      </div>
    </div>
    <div class="card">
      <div class="item item-balanced item-light-green item-text-wrap">
        Remember the details of the encounter.
      </div>
    </div>
    <div class="card">
      <div class="item item-balanced item-light-green item-text-wrap">
        File a written complaint or call your local ACLU if you feel your rights have been violated.
      </div>
    </div>
    <div class="item item-divider">Source</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        Information taken from the American Civil Liberties Union
      </div>
      <div class="item item-divider">
        <a href="http://www.aclu.org/">http://www.aclu.org/</a>
      </div>
    </div>
  </ion-content>
</ion-view>
