<ion-view title="At Home">
  <ion-content class="has-header">
    <div class="item item-divider item-text-wrap">If police or immigration agents come to your home</div>
    <div class="card">
      <div class="item item-text-wrap">
        If the police or immigration agents come to your home, <strong>you do not have to let them in unless they have certain kinds of warrants.</strong>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <strong>Ask the officer to slip the warrant under the door or hold it up to the window so you can inspect it.</strong> A search warrant allows police to enter the address listed on the warrant, but officers can only search the areas and for the items listed. An arrest warrant allows police to enter the home of the person listed on the warrant if they believe the person is inside. A warrant of removal/deportation (ICE warrant) does not allow officers to enter a home without consent.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        Even if officers have a warrant, <strong>you have the right to remain silent.</strong> If you choose to speak to the officers, <strong>step outside and close the door.</strong>
      </div>
    </div>
    <div class="item item-divider">Source</div>
    <div class="card">
      <div class="item item-text-wrap">
        Information taken from the American Civil Liberties Union
      </div>
      <div class="item item-divider">
        <a href="http://www.aclu.org/">http://www.aclu.org/</a>
      </div>
    </div>
  </ion-content>
</ion-view>
