<ion-view title="Immigration">
  <ion-content class="has-header">
    <div class="item item-divider item-text-wrap">If you are questioned about your immigration status</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>You have the right to remain silent and do not have to discuss your immigration or citizenship status</strong> with police, immigration agents or any other officials. You do not have to answer questions about where you were born, whether you are a U.S. citizen, or how you entered the country. (Separate rules apply at international borders and airports, and for individuals on certain nonimmigrant visas, including tourists and business travelers.)
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>If you are not a U.S. citizen and an immigration agent requests your immigration papers, you must show them if you have them with you.</strong> If you are over 18, carry your immigration documents with you at all times. If you do not have immigration papers, say you want to remain silent.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Do not lie about your citizenship status or provide fake documents.</strong>
      </div>
    </div>
    <div class="item item-divider">Source</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        Information taken from the American Civil Liberties Union
      </div>
      <div class="item item-divider">
        <a href="http://www.aclu.org/">http://www.aclu.org/</a>
      </div>
    </div>
  </ion-content>
</ion-view>
