<ion-view title="Home">
  <ion-content class="has-header">
    <div class="list">
      <div class="item item-divider">Police Advice</div>
      <a class="item item-icon-left" href="#/general">
        <i class="icon ion-information-circled"></i>
        General Advice
      </a>
      <a class="item item-icon-left" href="#/car">
        <i class="icon ion-android-car"></i>
        Driving
      </a>
      <a class="item item-icon-left" href="#/walk">
        <i class="icon ion-android-walk"></i>
        Walking
      </a>
      <a class="item item-icon-left" href="#/house">
        <i class="icon ion-ios-home"></i>
        At Home
      </a>
      <a class="item item-icon-left" href="#/immigration">
        <i class="icon ion-ios-home"></i>
        Immigration
      </a>
      <div class="item item-divider">General Rights</div>
      <a class="item item-icon-left" href="#/bill">
        <i class="icon ion-ios-paper"></i>
        Bill of Rights
      </a>
      <div class="item item-divider">Contact the Developer</div>
      <a class="item item-icon-left" href="mailto:amaczugowski@gmail.com">
        <i class="icon ion-android-mail"></i>
        Email
      </a>
    </div>
  </ion-content>
</ion-view>
