<ion-view title="Home">
  <ion-content class="has-header">
    <div class="list">
      <div class="item item-divider">Police Advice</div>
      <a class="item item-icon-left" ui-sref="general">
        <i class="icon ion-information-circled"></i>
        General
      </a>
      <a class="item item-icon-left" ui-sref="car">
        <i class="icon ion-android-car"></i>
        Driving
      </a>
      <a class="item item-icon-left" ui-sref="walk">
        <i class="icon ion-android-walk"></i>
        Walking
      </a>
      <a class="item item-icon-left" ui-sref="house">
        <i class="icon ion-ios-home"></i>
        At Home
      </a>
      <a class="item item-icon-left" ui-sref="arrested">
        <i class="icon ion-locked"></i>
        Arrested
      </a>
      <div class="item item-divider">Immigration Advice</div>
      <a class="item item-icon-left" ui-sref="immigration">
        <i class="icon ion-android-boat"></i>
        Immigration Status
      </a>
      <a class="item item-icon-left" ui-sref="custody">
        <i class="icon ion-locked"></i>
        Immigration Custody (ICE)
      </a>
      <div class="item item-divider">Rights</div>
      <a class="item item-icon-left" ui-sref="rights">
        <i class="icon ion-alert"></i>
        Rights Violation
      </a>
      <a class="item item-icon-left" ui-sref="bill">
        <i class="icon ion-ios-paper"></i>
        Bill of Rights
      </a>
    </div>
  </ion-content>
</ion-view>
