<ion-view title="Rights Violation">
  <ion-content class="has-header">
    <div class="item item-divider item-text-wrap">If you feel your rights have been violated</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Remember: police misconduct cannot be challenged on the street.</strong> Don't physically resist officers or threaten to file a complaint.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Write down everything you remember,</strong> including officers' badge and patrol car numbers, which agency the officers were from, and any other details. Get contact information for witnesses. If you are injured, take photographs of your injuries (but seek medical attention first).
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>File a written complaint</strong> with the agency's internal affairs division or civilian complaint board. In most cases, you can file a complaint anonymously if you wish.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Call your local ACLU</strong> or visit <a href="http://www.aclu.org/profiling/">http://www.aclu.org/profiling/</a>.
      </div>
    </div>
    <div class="item item-divider">Source</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        Information taken from the American Civil Liberties Union
      </div>
      <div class="item item-divider">
        <a href="http://www.aclu.org/">http://www.aclu.org/</a>
      </div>
    </div>
  </ion-content>
</ion-view>
