<ion-view title="Walking">
  <ion-content class="has-header">
    <div class="item item-divider item-text-wrap">If you are stopped for questioning</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Stay calm.</strong> Don't run. Don't argue, resist or obstruct the police, even if you are innocent or police are violating your rights. Keep your hands where police can see them.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>Ask if you are free to leave.</strong> If the officer says yes, calmly and silently walk away. If you are under arrest, you have a right to know why.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>You have the right to remain silent</strong> and cannot be punished for refusing to answer questions. If you wish to remain silent, tell the officer out loud. In some states, you must give your name if asked to identify yourself.
      </div>
    </div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        <strong>You do not have to consent to a search</strong> of yourself or your belongings, but police may "pat down" your clothing if they suspect a weapon. You should not physically resist, but you have the right to refuse consent for any further search. If you do consent, it can affect you later in court.
      </div>
    </div>
    <div class="item item-divider">Source</div>
    <div class="card">
      <div class="item item-light item-text-wrap">
        Information taken from the American Civil Liberties Union
      </div>
      <div class="item item-divider">
        <a href="http://www.aclu.org/">http://www.aclu.org/</a>
      </div>
    </div>
  </ion-content>
</ion-view>
